[user]
	name = Samuel Badr
	email = samuel.badr@gmail.com
{{- if .git.signing }}
	signingkey = {{ $home := .chezmoi.homeDir }}{{ if stat (joinPath $home ".ssh/id_ed25519.pub") }}{{ joinPath $home ".ssh/id_ed25519.pub" }}{{ else }}{{ joinPath $home ".ssh/id_rsa.pub" }}{{ end }}

[gpg]
	format = ssh

[commit]
	gpgsign = true
{{- end }}

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[pull]
	rebase = false

[init]
	defaultBranch = main

