[user]
	name = Samuel Badr
	email = samuel.badr@gmail.com
	signingkey = {{ .chezmoi.homeDir }}/.ssh/id_rsa.pub

[gpg]
	format = ssh

[commit]
	gpgsign = true

[core]
{{- if eq .chezmoi.os "darwin" }}
	editor = code --wait --new-window
{{- else }}
	editor = nvim
{{- end }}
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	line-numbers = true
	side-by-side = true
	syntax-theme = Monokai Extended

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[pull]
	rebase = false

[init]
	defaultBranch = main

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = log --graph --oneline --all --decorate
